{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container-fluid py-5">
    <div class="container py-5">

        {% if messages %}
          {% for message in messages %}
            {% if message.tags == 'success' %}
              <div class="alert alert-success" role="alert">
                {{ message }}
              </div>
            {% elif message.tags == 'error' %}
              <div class="alert alert-danger" role="alert">
                {{ message }}
              </div>
            {% else %}
              <div class="alert alert-info" role="alert">
                {{ message }}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ about_us.0.image.url }}" alt="">
            </div>
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">{{ about_us.0.title }}</h5>
                    <h1>{{ about_us.0.h1 }}</h1>
                </div>
                <p>{{ about_us.0.description }}</p>
                <a href="{{about_us.0.url}}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}